// ======================================================================
   // Vars
// ======================================================================

$base-font-size: 16px;

// BODY
$c_a_1: #333; 
$c_a_2: #000; 


// HEADING
$c_b_1: #666;


// HIGHLIGHT
$c_c_1: #ea6137; 
// $c_c_1: #1a1661; 
// $c_c_1: #82befa; 
// $c_c_1: #8dd35f; 
// $c_c_1: #006bef; 



// MAIN FONT
$f_a_1: 'RobotoLight', Arial, sans-serif;
$f_a_2: 'RobotoRegular', Arial, sans-serif;
$f_a_3: 'RobotoMedium', Arial, sans-serif;

// SECONDARY FONT
$f_b_1: 'RobotoRegular', Arial, sans-serif;

// TERTIARY FONT
$f_c: 'RobotoRegular', Arial, sans-serif;