@font-face {
    font-family: 'RobotoLight';
    src: url('/assets/fonts/RobotoLight.eot');
    src: url('/assets/fonts/RobotoLight.eot') format('embedded-opentype'),
         url('/assets/fonts/RobotoLight.woff2') format('woff2'),
         url('/assets/fonts/RobotoLight.woff') format('woff'),
         url('/assets/fonts/RobotoLight.ttf') format('truetype'),
         url('/assets/fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('/assets/fonts/RobotoLightItalic.eot');
    src: url('/assets/fonts/RobotoLightItalic.eot') format('embedded-opentype'),
         url('/assets/fonts/RobotoLightItalic.woff2') format('woff2'),
         url('/assets/fonts/RobotoLightItalic.woff') format('woff'),
         url('/assets/fonts/RobotoLightItalic.ttf') format('truetype'),
         url('/assets/fonts/RobotoLightItalic.svg#RobotoLightItalic') format('svg');
}


@font-face {
    font-family: 'RobotoRegular';
    src: url('/assets/fonts/RobotoRegular.eot');
    src: url('/assets/fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('/assets/fonts/RobotoRegular.woff2') format('woff2'),
         url('/assets/fonts/RobotoRegular.woff') format('woff'),
         url('/assets/fonts/RobotoRegular.ttf') format('truetype'),
         url('/assets/fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}


@font-face {
    font-family: 'RobotoItalic';
    src: url('/assets/fonts/RobotoItalic.eot');
    src: url('/assets/fonts/RobotoItalic.eot') format('embedded-opentype'),
         url('/assets/fonts/RobotoItalic.woff2') format('woff2'),
         url('/assets/fonts/RobotoItalic.woff') format('woff'),
         url('/assets/fonts/RobotoItalic.ttf') format('truetype'),
         url('/assets/fonts/RobotoItalic.svg#RobotoItalic') format('svg');
}


@font-face {
    font-family: 'RobotoMedium';
    src: url('/assets/fonts/RobotoMedium.eot');
    src: url('/assets/fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('/assets/fonts/RobotoMedium.woff2') format('woff2'),
         url('/assets/fonts/RobotoMedium.woff') format('woff'),
         url('/assets/fonts/RobotoMedium.ttf') format('truetype'),
         url('/assets/fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}